// Breakpoints
//============================
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$screen-xs-max: $screen-xs-min - 1;
$screen-sm-max: $screen-sm-min - 1;
$screen-md-max: $screen-md-min - 1;
$screen-lg-max: $screen-lg-min - 1;


// Breakpoints Magento 2
//============================
$screen__xxs: 320px;
$screen__xs: 480px;
$screen__s: 640px;
$screen__m: 768px;
$screen__l: 1024px;
$screen__xl: 1440px;
