// Author: Vasilis Neris
// Scss Base Library for Netsteps
//============================



//
// Typography
//============================
$cart__theaders__size--xl: 1.2rem;



//
// Others
//============================
$cart__theaders__padding: 15px;


//
// Colors
//============================
$cart__theaders__color: color(text,primary);