//Checkout General Variables
$pageMaxWidth: 1440px;
$pagePadding: 0 20px;
$pageBackground: transparent;
$pageFontFamily: $font_family__main;
$pageFormBorderBottom: 1px solid color(gray,base);

//Header Variables
$headerPadding: 5px 0;
$headerPaddingScrolled: 27px 0 19px;;
$headerBorderBottom: 0;
$headerBoxShadow: 0 1px 2px 0 rgba(0,0,0,0.2);
$headerTransition: all 250ms ease-in-out;
$logoMargin: 0 auto;
$logoDisplay: block;
$logoFloat: none;
$logoTextAlign: center;
$logoImageDisplay: inline-block;

//Authentication Wrapper Variables
$authWidth: 100%;
$authMaxWidth: 400px;
$authMargin: 20px auto;
$authFloat: none;
$authPadding: 0 15px;
$authButtonWidth: 100%;
$authButtonPadding: 0 20px;
$authButtonLineHeight: 40px;
$authButtonTextDecoration: none;

//Progress Bar Variables
$progressItemMarginRight: 20px;
$progressItemHeight: 56px;
$progressItemPadding: 0 10px;
$progressItemTextTransform: uppercase;
$progressItemFontSize: 1.4rem;
$progressItemFontWeight: bold;
$progressItemBoxShadow: none;
$progressItemColor: #989898;
$progressItemBackground: #DDDDDD;

$progressItemActiveBoxShadow: 0 0 12px 0 rgba(0, 0, 0, 0.16);
$progressItemActiveColor: color(black,base);
$progressItemActiveBackground: #FFFFFF;

//Step title Variables
$stepTitleFontSize: 1.8rem;
$stepTitleFontWeight: 700;
$stepTitleMargin: 0 0 34px;
$stepTitlePadding: 0;
$stepTitleBorderBottom: 0;
$stepTitleColor: color(black,base);
$stepTitleTextAlign: left;
$stepTitleTextTransform: none;

$stepTitleMobileFontSize: 1.6rem;
$stepTitleMobileFontWeight: 700;
$stepTitleMobileMargin: 0 0 17px;
$stepTitleMobilePadding: 0;
$stepTitleMobileBorderBottom: 0;
$stepTitleMobileColor: color(black,base);
$stepTitleMobileTextAlign: center;
$stepTitleMobileTextTransform: none;

//Fields Variables
$fieldLabelColor: color(black,base);
$fieldLabelFontSize: 1.4rem;
$fieldLabelFontWeight: 400;
$fieldLabelMargin: 0 0 8px;
$fieldLabelPadding: 0;
$fieldLabelTextAlign: left;
$fieldLabelTextTransform: capitalize;

$fieldInputHeight: 44px;
$fieldInputBorder: 1px solid #DDDDDD;
$fieldInputColor: color(black,base);
$fieldInputFontSize: 1.4rem;
$fieldInputFontWeight: 400;
$fieldInputMargin: 0;
$fieldInputPadding: 0 20px;
$fieldInputTextAlign: left;
$fieldInputTextTransform: normal;
$fieldInputBackground: #FFFFFF;

//Radios and Checkboxes Variables
$radioWidth: 22px;
$radioHeight: $radioWidth;
$radioBorderRadius: 50%;
$radioBorder: 1px solid #363636;
$radioBackground: #FFFFFF;
$radioTextAlign: center;
$radioMargin: 0 auto;
$radioPadding: 3px 0;

$radioCheckedWidth: 14px;
$radioCheckedHeight: $radioCheckedWidth;
$radioCheckedBackground: #363636;
$radioCheckedBorderRadius: 50%;

//Shipping Table Variables
$ratePadding: 10px;
$rateBorderTop: 0;
$rateToolbarMarginTop: 20px;

//Button Action Variables
$buttonWidth: 100%;
$buttonPadding: 0 20px;
$buttonMargin: 0;
$buttonLineHeight: 46px;
$buttonFontSize: 1.3rem;
$buttonFontWeight: 700;
$buttonTextTransform: uppercase;
$buttonMinWidth: 198px;
$buttonMaxWidth: 100%;

//Form Login
$formLoginPadding: 0;
$formLoginMargin: 0;
$formLoginBorderBottom: 0;

$loginNoteFontSize: 1.2rem;
$loginNoteFontWeight: 700;
$loginNoteFontStyle: italic;
$loginNoteColor: color(black,base);
$loginNotePadding: 0;

//Payment Variables
$placeOrderPadding: 0 15px;
$placeOrderMargin: 0 auto;
$placeOrderColor: inherit;
$placeOrderFontSize: 1.6rem;
$placeOrderFontWeight: 700;
$placeOrderLineHeight: 44px;
$placeOrderTextTransform: uppercase;
$placeOrderMinWidth: 200px;

//================= SUMMARY SECTION =================//

$summaryPadding: 20px 10px 0;
$summaryBackground: #F0F0F0;

//Summary Title Variables
$summaryTitleTextAling: center;
$summaryTitleFontSize: 1.4rem;
$summaryTitleTextTransform: uppercase;
$summaryTitleFontWeight: 700;
$summaryTitleColor: color(black,base);
$summaryTitleBorderBottom: 2px solid #FFFFFF;
$summaryTitlePadding: 0 0 16px;
$summaryTitleMarginBottom: 20px;

//Totals Variables

$totalsBorder: 0;
$totalsMargin: 0 auto;
$totalSidePadding: 10px;
$totalItemPaddingBottom: 6px;
$totalItemPaddingTop: 6px;
$totalBorderTop: 0;
$totalBorderBottom: 1px solid color(black,base);
$totalItemFontSize: 1.2rem;
$totalItemFontWeight: 700;
$totalItemColor: $text__color;
$totalItemTextTransform: uppercase;
$grandBorder: 0;
$grandPaddingTop: 24px;
$grandPaddingBottom: 19px;
$grandMarkFontSize: 1.4rem;
$grandMarkLineHeight: 1.6rem;
$grandValueFontSize: 1.6rem;
$grandValueLineHeight: 1.8rem;

//Cart Items Variables

$cartBackground: #FFFFFF;
$cartMargin: 0 -10px;
$cartPadding: 40px 0 0;
$cartTitleBorderBottom: 1px solid color(black,base);
$cartTitlePadding: 0 0 5px 20px;
$cartTitleTextTransform: uppercase;
$cartTitleLineHeight: 1;
$cartTitleColor: $text__color;
$cartTitleFontSize: 1.2rem;
$cartTitleFontWeight: 700;

//Cart Item Variables
/*This should be {image width} + 10px */
$itemDetailsPaddingLeft: 85px;

$itemBrandFontSize: 1.2rem;
$itemBrandTextTransform: uppercase;
$itemBrandColor: $text__color;
$itemBrandFontWeight: 700;
$itemBrandMarginBottom: 6px;
$itemBrandLineHeight: 1;

$itemNameColor: $text__color;
$itemNameFontSize: 1.2rem;
$itemNameLineHeight: 1.8rem;
$itemNameMarginBottom: 0;
$itemNameFontWeight: 600;
$itemNameFontStyle: normal;
$itemNameTextTransform: none;

$itemSubtotalFontSize: 1.4rem;
$itemSubtotalColor: $text__color;
$itemSubtotalFontWeight: 700;



//
// Estimatated variables
//============================
$estimatedBackground: #DDDDDD;
$estimatedPadding: 20px 15px;

$estimatedFontSize: 1.4rem;
$estimatedColor: $text__color;
$estimatedPriceFontSize: 1.6rem;
$estimatedPriceColor: $text__color;
$estimatedPriceFontWeight: 600;

$counterBackground: transparent;
$counterColor: $text__color;
$counterHeight: 20px;
$counterWidth: 20px;
$counterLineHeight: $counterHeight;
$counterBorderRadius: 0px;
$counterMargin: 0;
$counterMinWidth: initial;
$counterPadding: 0;
$counterFontSize: 1.4rem;