
//Title variables
$titleTextAlign: center;
$titleColor: color(text,primary);
$titleFontSize: 2rem;
$titleFontWeight: 700;
$titlePadding: 0;
$titleMargin: 2rem 0;
$titleBorderBottom: 0;
$titleWidth: 100%;

//Note variables
$noteTextAlign: left;
$noteColor: color(text,primary);
$noteFontSize: 1.3rem;
$noteFontWeight: 600;
$notePadding: 0;
$noteMargin: 0 0 20px 0;
$noteBorderBottom: 0;
$noteWidth: auto;

//Field variables
$fieldFontSize: 1.4rem;
$fieldFontWeight: 400;
$fieldColor: color(text,primary);
$fieldBackground: color(white,base);
$fieldFontFamily: $font_family__main;
$fieldFontStyle: normal;
$fieldBorder: 1px solid color(gray,base);
$fieldBoxShadow: none;
$fieldHeight: 40px;

//Placeholder variables
$fieldFontSize: 1.2rem;
$fieldFontWeight: 600;
$fieldColor: color(text,secondary);
$fieldFontFamily: $font_family__main;
$fieldFontStyle: italic;

//Form variables
$formMaxWidth: 500px;
$formMargin: 0 auto;
$formPadding: 15px;
$formBoxShadow: none;
