// Author: Vasilis Neris
// Custom scss for Netsteps
//============================



//
// Typography
//============================
$footer__headers__size--l: 1.4rem;
$footer__headers__size--m: 1.3rem;
$footer__headers__weight: 600;

$footer__content__size--l: 1.6rem;
$footer__content__size--m: 1.4rem;
$footer__content__weight: 400;

$footer__newsletter__title__size--l: 2.4rem;
$footer__newsletter__title__size--m: 2rem;
$footer__newsletter__title__weight: 400;

$footer__terms__size--l: 1.2rem;
$footer__terms__size--m: 1.1rem;

$footer__copyright__size--l: 1.4rem;
$footer__copyright__size--m: 1.2rem;

$footer__developby__size--l: 1.2rem;
$footer__developby__size--m: 1.1rem;

$footer__social__icons__size--xl: 3rem;
$footer__social__icons__size--m: 2.2rem;


//
// Colors
//============================
$footer__background: $white;


//
// Others
//============================
$footer__headers__margin: 0 0 1.5rem 0;




