// Author: Vasilis Neris
// Custom SCSS for Netsteps
//============================



//
// Typography
//============================
$account__title__size--xl: 2.4rem;
$account__title__weight: 500;



//
// Others
//============================
$account__form__maxwidth: 350px;
