<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Newsletter\Block\Subscribe $block */
/** @var \Magento\Framework\Escaper $escaper */

?>


<div id="newsletter">
    <div class="title">
        <h5><?php echo __('Newsletter') ?></h5>
        <p><?php echo __('Subscribe now') ?></p>
    </div>
    <form class="form subscribe"
          novalidate
          action="<?= $escaper->escapeUrl($block->getFormActionUrl()) ?>"
          method="post"
          data-mage-init='{"validation": {"errorClass": "mage-error"}}'
          id="newsletter-validate-detail">
        <div class="terms-validate">
            <input type="checkbox" class="marketing-checkbox" name="marketing" value="1"
                   id="marketing" data-validate="{required: true}">
            <label class="marketing-label" for="marketing">
                <?= $escaper->escapeHtmlAttr(__('I Have read and agree with the terms and conditions')) ?>
            </label>
        </div>
        <div class="input-box">
            <input name="email" type="email" id="newsletter"
                   placeholder="<?= $escaper->escapeHtml(__('Email')) ?>"
                   data-mage-init='{"mage/trim-input":{}}'
                   data-validate="{required:true, 'validate-email':true}"
            />
            <button class="action subscribe primary sr-only"
                    title="<?= $escaper->escapeHtmlAttr(__('Subscribe')) ?>"
                    type="submit"
                    aria-label="Subscribe">
                <span><?= __('Subscribe')?></span>
            </button>
        </div>
    </form>

</div>
