<div id="copyright">
    <div class="column copyright-text">
        <?= /* @escapeNotVerified */ $block->getCopyright() ?>
    </div>
    <div class="column netsteps">
        <span><?php echo __('Handcrafted by') ?></span>
        <a href="https://netsteps.gr/" target="_blank" class="ns-link">
            <img class="netsteps-img" alt="Netsteps" data-src="<?php echo $block->getViewFileUrl('Netsteps_Base::images/logo.svg'); ?>"/>
        </a>
    </div>
</div>
