#promo-bar{text-align:center;position:relative;display:none}#promo-bar.initialized{display:block;padding:.8rem}#promo-bar.initialized .content,#promo-bar.initialized .close{opacity:1}#promo-bar .content{opacity:0}#promo-bar .close{position:absolute;right:15px;padding:.9rem;top:0;cursor:pointer;opacity:0}#promo-bar .close:before,#promo-bar .close:after{position:absolute;left:15px;content:' ';height:15px;width:2px}#promo-bar .close:before{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}#promo-bar .close:after{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}#promo-bar .slick-slide{font-size:1.2rem;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}

/*# sourceMappingURL=promobar.css.map */
