<?php
/**
 * @author Vasilis Neris
 */

// @codingStandardsIgnoreFile
/** @var Magento\Customer\Block\Account\Customer $block */
?>



<div class="customer-wrapper <?php echo $block->customerLoggedIn() ? 'logged-in' : '';?>">
    <div data-block="dropdown" class="header-content-wrapper" >
        <span class="icon-user icon-span" <?php echo $block->customerLoggedIn() ? 'data-trigger="trigger"' : '';?>></span>
        <?php if(!$block->customerLoggedIn()): ?>
            <a class="outer-link" href="<?= $block->getBaseUrl(); ?>customer/account/login"><?php echo __('Login') ?></a>
            <a class="outer-link last" href="<?= $block->getBaseUrl(); ?>customer/account/create"><?php echo __('Register') ?></a>
        <?php else: ?>
        <span class="customer-name"
              role="link"
              tabindex="0"
              data-trigger="trigger"
              data-bind="scope: 'customer'">
            <span data-bind="text: customer().firstname"></span>
        </span>
            <script type="text/x-magento-init">
            {
                "*": {
                    "Magento_Ui/js/core/app": {
                        "components": {
                            "customer": {
                                "component": "Magento_Customer/js/view/customer"
                            }
                        }
                    }
                }
            }
      </script>
        <?php endif; ?>
    </div>
    <?php if($block->customerLoggedIn()): ?>
    <div class="customer-menu-wrapper"
         data-mage-init='{
        "dropdownDialog": {
            "appendTo": "[data-block=dropdown]",
            "triggerTarget":"[data-trigger=trigger]",
            "timeout": 2000,
            "closeOnMouseLeave": false,
            "closeOnEscape": true,
            "autoOpen": false,
            "triggerClass": "active",
            "parentClass": "active",
            "buttons": []
        }
     }'>

        <?php $accountLinks = [
                [
                   'label' => __('My Account'),
                   'link'  => 'customer/account'
                ],
                [
                    'label' => __('Order History'),
                    'link'  => 'sales/order/history'
                ],
                [
                    'label' => __('Wishlist'),
                    'link'  => 'wishlist/'
                ],
                [
                    'label' => __('Logout'),
                    'link'  => 'customer/account/logout'
                ]
            ]; ?>
        <div id="customer-content-wrapper">
            <ul>
               <?php foreach($accountLinks as $link): ?>
                   <li><a href="<?= $block->getBaseUrl() . $link['link'];?>"><?= $link['label'];?></a></li>
               <?php endforeach; ?>
            </ul>
        </div>
    </div>
    <?php endif; ?>
</div>





