// Author: Vasilis Neris
// Scss Base Library for Netsteps
//============================


//
// Below you will find mixings for buttons across the (almost) whole website. Adjust according to your design.
// Try to adjust only the mixins. If its not possible override in your css.
//============================

@mixin addtoCart() {
    background-color: lighten(color(green, light), 10%);
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    span {
        color: color(white, base);
        font-weight: 700;
    }
}

@mixin addtoCartGrid() {
    background-color: color(black, base);
    display: block;
    width: 100%;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    padding: 12px 0;
    span {
        color: color(white, base);
        font-weight: 700;
    }
}


@mixin checkoutButtons() {
    background-color: color(black, base);
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    span {
        color: color(white, base);
        font-weight: 700;
    }
    &:hover {
        background-color: color(cyan, dark);
    }
    @media screen and (max-width: $screen__xs) {
        span {
            font-size: 1.6rem;
        }
    }
}

@mixin checkoutMinicartButton() {
    background-color: color(black, base);
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    span {
        color: color(white, base);
        font-weight: 700;
    }
    &:hover {
        background-color: color(cyan, dark);
    }
    @media screen and (max-width: $screen__xs) {
        font-size: 1.3rem;
    }
}



@mixin actionContact() {
    background-color: color(blue, base);
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    display: block;
    width: 100%;
    padding: 10px 0;
    float: none;
    span {
        color: color(white, base);
        font-weight: 700;
    }
}

@mixin cartActionContinue() {
    float: left;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 0;
    border: 0;
    padding-right: 0;
    font-size: 1.3rem;
    color: color(text, primary);
    @include flex(center);
    &:before {
        content: '\e617';
        font-family: 'luma-icons';
        margin-right: 1rem;
        font-size: 1.5rem;
        color: color(text, primary);
    }
    &:hover {
        color: color(black, base);
    }
}


@mixin cartActionClear() {
    &:before {
        content: '\e604';
        font-family: 'luma-icons';
        margin-right: 1rem;
        font-size: 2rem;
        color: color(red, lighter);
    }
    &:hover {
        background-color: color(red, lighter);
        color: color(white, base);

        &:before {
            color: color(white, base);
        }
    }
}

@mixin cartActionUpdate() {
    &:before {
        content: '\f021';
        font-family: $fontAwesome;
        margin-right: 1rem;
        font-size: 2rem;
        color: color(orange, base);
    }
    &:hover {
        background-color: color(orange, base);
        color: color(white, base);

        &:before {
            color: color(white, base);
        }
    }
}

@mixin actionSearch() {
    position: absolute;
    right: 10px;
    top: 0;
    display: block;
    font-size: 0;
    background-color: transparent;
    border: 0;
    &:before {
        font-size: 2rem;
        line-height: 28px;
        color: color(black, base);
        content: '\e615';
        font-family: 'luma-icons';
    }
}


@mixin actionLogin() {
    background-color: color(black, base);
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    width: 100%;
    padding: 10px;
    span {
        color: color(white, base);
        font-weight: 700;
    }
}


@mixin actionCreateAccount() {
    background-color: color(black, base);
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    width: 100%;
    padding: 10px;
    span {
        color: color(white, base);
        font-weight: 700;
    }
    &:hover {
        opacity: .8;
        border: 0;
        background-color: color(blue, darker);
    }
}

@mixin actionPrimary($width:0) {
    background-color: $black;
    border: 1px solid $black;
    border-radius: 0;
    text-transform: uppercase;
    padding: 1.2rem 2rem;
    font-weight: 700;
    color: $white;
    transition: all .3s ease;

    @if ($width != 0) {
        width: $width;
    }
    span {
        font-weight: 700;
    }

    &:hover {
        background-color: white;
        color: $black;
        transition: all .3s ease;
    }
    @media screen and (max-width: $screen__xs) {
        span {
            font-size: 1.1rem;
        }
    }
}

@mixin actionSecondary(){

}



//
// Add to cart button product page
//============================
.box-tocart {
    .action.primary {
        //@include actionPrimary();
    }
}

//
// Add to cart button grid
//============================
.product-wrapper {
    .action.tocart.primary {
        @include actionPrimary(100%);
    }
}

//
// Footer Newsletter
//============================
.action.primary.subscribe {
    @include actionPrimary(100%);
}

//
// Proceed to checkout button
//============================
button.action.primary.checkout {
    @include checkoutButtons();
}

//
// Proceed to checkout button in minicart
//============================
div {
    #top-cart-btn-checkout {
        @include checkoutMinicartButton();
    }
}


//
// Contact us Button
//============================
form#contact-form {
    .primary {
        width: 100%;
    }

    button.primary {
        @include actionPrimary(100%);
    }
}


//
// Cart actions
//============================
div {
    .cart-container .form-cart .actions.main {
        .action {
            display: inline-block;
            background-color: transparent;
            padding: 12px 25px;
            height: 50px;
            border-radius: 0;
            box-shadow: none;
            border: 1px solid color(gray, darker);

            &.continue {
                @include cartActionContinue();
            }

            &.clear {
                @include cartActionClear();
            }

            &.update {
                @include cartActionUpdate();
            }
        }
    }
}

//
// Search button action
//============================
form#search_mini_form {
    .action.search {
        @include actionSearch();
    }
}


//
// Cart actions
//============================
form#discount-coupon-form {
    .action.primary {
        @include actionPrimary();
    }
}

//
// Login Button
//============================
div {
    .action.primary.login {
        @include actionPrimary(100%);
    }
}

//
// Create an account Button
//============================
.form-create-account {
    .action.submit.primary {
        @include actionPrimary(100%);
    }
}


//
// General primary button and secondary
//============================
div {
    .action.primary {
        @include actionPrimary();
    }

    .action.secondary {
        @include actionPrimary();
    }

}
