// Author: Vasilis Neris
//============================




#copyright{
    max-width: 80%;
    margin: 8rem auto 3rem auto;
    background-color: red;
    color: $text__color__secondary;
    @include flex(center,space-between);
    .column{
        font-size: 1.3rem;
        padding:0 15px;
        &.netsteps{
            @include flex(center);
            margin-left:2rem;
        }
    }
    img{
        width: 100px;
        margin-left:1rem;
    }
}



@media screen and (max-width: $screen-md-max){
    #copyright{
        flex-direction: column;
        max-width: 100%;
        margin:2rem 0;
        .column{
            font-size: 1.1rem;
        }
        .column.netsteps{
            margin-top:1rem;
        }
        img{
            width: 80px;
        }
    }
}
