
footer.page-footer {
    background-color: $white;
    padding: 0;

    .container {
        max-width: 50%;
    }

    .footer-main-wrapper {
        background-color: $footer__background;
    }

    .footer.content {
        padding: 0;
        border: 0;
    }

    .footer-column {
        word-break: break-all;

        ul {
            padding-right: 0;

            > li {
                padding: .5rem 0;

                a {
                    @include animatedUnderline();
                }
            }
        }
    }

    h5, li, a {
        color: $text__color__secondary;
    }

    h5 {
        font-size: $footer__headers__size--l;
        font-weight: $footer__headers__weight;
        margin: $footer__headers__margin;
        color: $text__color__secondary;
        text-transform: uppercase;
    }

    .accordion-toggler {
        display: none;
    }

}

#newsletter {
    h5 {
        font-size: $footer__newsletter__title__size--l;
        font-weight: 400;
    }

    .terms-validate {
        padding: 1rem 0;
        font-size: 1.2rem;
    }

    .input-box {
        max-width: 90%;
    }

    button {
        margin-top: 1rem;
    }
}


@media screen and (max-width: $screen__xl + 100) {
    footer.page-footer {
        .container {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: $screen-md-max) {
    footer.page-footer {
        .accordion-toggler {
            display: inline-block;

        }

        .footer-column {
            margin-bottom: 2rem;

            h5 {
                border-bottom: 1px solid $gray;
                padding-bottom: 1rem;
                margin: 0;
                @include flex(center, space-between);
            }

            ul {
                transition: all .7s linear;
                max-height: 0;
                li {
                    @include fadeOut(.3s,.2s);
                    padding: 1rem 0;
                    max-height: 0;
                    transition: all .5s linear;
                }

            }
            .accordion-toggler {
                transition:  all .3s linear;
            }

            &.open {
                ul {
                    max-height: 1000px;
                    li{
                        @include fadeIn(.3s,.5s);
                        max-height: 1000px;
                    }
                }

                .accordion-toggler {
                    transform: rotate(90deg);
                    transition:  all .3s linear;
                }
            }
        }
    }
    #newsletter {
        h5 {
            border: 0;
        }

        .input-box {
            max-width: 100%;
        }
    }
}
