// Author: Vasilis Neris
// Scss Base Library for Netsteps
//============================



div{
  .navigation, .breadcrumbs, .page-header .header.panel, .header.content, .footer.content, .page-wrapper > .widget, .page-wrapper > .page-bottom, .block.category.event, .top-container, .page-main {
    padding: 0 15px;
    max-width: 100%;
  }
}


@media (min-width: 1200px) {
  div{
    .container{
      max-width: 100%;
    }
  }
}

