// Author: Vasilis Neris
// Scss Base Library for Netsteps
//============================

header.page-header {
    position: sticky;
    top:0;
    width: 100%;
    background-color: $white;
    z-index: 99;

  //
  // Remove magentos customer links from header but keep them on menu
  //============================
  .panel.header{
    .header.links{
      display:none;
    }
  }
  .inner-wrapper{
    padding: 10px 0;
    .column.first{
      .logo{
        float:none;
        max-width: initial;
        margin: 0;
        img{
          margin: 0 auto;
        }
      }
      .nav-toggle{
        top: 0;
        line-height: 30px;
      }
    }
    .customer-navigation{
      @include flex(center,flex-end);
      #nav-account{
        padding: 0;
      }
      .icon-span{
        font-size: $header__icons__size--xl;
        color: $header__icons__color;
        line-height: 0;
      }
      .search-promt{
        cursor:pointer;
        &:hover{
          color: $header__search__icon__color__hover;
        }
      }
      .customer-wrapper{
        &.logged-in{
          .header-content-wrapper{
            cursor: pointer;
            position: relative;
          }
        }
        .header-content-wrapper{
          &.active{
            div#customer-content-wrapper{
              display: block;
            }
          }
          @include flex(center);
          .icon-span{
            margin-right: 1rem;
          }
          .outer-link{
            font-weight: $header__customer__outerlinks__weight;
            text-transform: $header__customer__text__transform;
            border-right: $header__customer__border__seperator;
            color: color(text,primary);
            padding-right: 1rem;
            margin-right: 1rem;
            &:hover{
              color: $header__customer__outerlinks__color__hover;
            }
            &.last{
              margin-right: 0;
              border:0;
            }
          }
        }
      }
      div#customer-content-wrapper{
        @include DialogDropdown();
      }
    }

  }

}

@media screen and (max-width: $screen-md-max){
  header.page-header{
    #nav-account{
      display:none;
    }
    .inner-wrapper{
      .column.first{
        .logo{
          position: absolute;
          left: 50px;
          margin:-8px auto 25px 0;
          img{
            max-width: 100px;
          }
        }
      }
      .customer-navigation {
        .icon-span{
          font-size: $header__icons__size--m;
        }
      }
    }
    .minicart-wrapper{
      margin: 0;
      margin-left: 2rem;
    }
  }
}

