// Author: Vasilis Neris
// Custom scss for Netsteps
//============================


//WRITE YOUR MENU SCSS HERE.
//MODULE INSTALLED IS UBERTHEME MENU. THIS MIGHT CHANGE FOR THE THEME IN THE FUTURE!

div{
  .ub-mega-menu-wrapper{
    max-width: initial;
  }
}