/* Author: Vasilis Neris
*/


.product-wrapper{
    margin-bottom: 3rem;
    .product-item-info{
        @include widthHeight(100%);
        @include flex(initial,space-between,column);
        border: 1px solid color(gray,lighter);
        position: relative;
    }
    .product-item-photo{
        text-align: center;
        margin:1rem 0;
    }
    .product-name-line{
        margin-bottom: 1rem;
        text-align: center;
        a{
            color: color(black,base);
            font-size: $product__name__size--xl;
            font-weight: $product__name__weight;
        }
    }
    .price-box{
        @include setPriceBox();
    }
    .configurable-attributes{
        padding: 0 5px;
        margin-bottom:1rem;
        > div{
            @include flex(center,center);
            flex-wrap: wrap;
        }
        .swatch-attribute{
            width: 100%;
            @include flex(center,center);
        }
        .swatch-option{
            border:0;
            background-color:transparent;
            color: color(black,base);
            &.text{
                line-height: normal;
                @include flex(center,center);
            }
            &.color{
                @include widthHeight(20px);
                border: 1px solid color(grey,lighter);
                &:hover{
                    outline-color: color(grey,lighter);
                    outline-width: 1px;
                }
            }
        }
    }


}
