// Author: Vasilis Neris
// Scss Base Library for Netsteps
//============================



header.page-header{

  .block-search{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    margin: 0;
    padding-left: 0;
    @include visibility('hidden');
    @include widthHeight(100%);
    &.active{
      @include visibility('visible');
    }
    .block.block-content{
      background-color: $search__overlay__color;
      @include widthHeight(100%);
      @include flex(initial,center);
      input,form{
        max-width: 500px;
      }
      form{
        width:100%;
        top:$search__form__top__offset;
        position: fixed;
        label{
          display: none;
        }
        input{
          position:initial;
          margin:0;
        }

      }
    }
  }

}

