<?php // this is just to render the button for the mobile search functionality ?>

<div class="search-promt-wrapper icon-label-wrapper">
    <span class="icon-search search-promt icon-span"></span>
 </div>

