<?php

/**
 * @author Vasilis Neris
 * @copyright Copyright (c) 2020 Netsteps S.A
 * @package Netsteps_Base
 * @defined @ Netsteps_Base layout/default.xml
 */

/** @var Magento\Framework\View\Element\Template $block */

$newsletter  = $block->getChildBlock('newsletter.column');

$footerColumns = [];
if ($block->getChildBlock('footer.columns')
    && $block->getChildBlock('footer.columns')->hasData('footer.columns.array')) {

    $footerColumnsArray = $block->getChildBlock('footer.columns')->getData('footer.columns.array');

    foreach ($footerColumnsArray as $footerColumn) {
        $footerColumns[] = $block->getChildBlock('footer.columns')->setBlockId($footerColumn)->toHtml();
    }
}
?>



<div class="container">
    <div class="row justify-content-center">
        <?php if ($newsletter): ?>
            <div class="col-12 col-sm-12 col-md-12 col-lg-3 footer-column newsletter">
                <?php if ($newsletter): ?>
                    <?= $newsletter->toHtml(); ?>
                <?php endif; ?>
            </div>
        <?php endif; ?>
        <?php foreach ($footerColumns as $footerColumn): ?>
            <div class="col-12 col-sm-12 col-md-12 col-lg-3 footer-column">
                <?php echo $footerColumn; ?>
            </div>
        <?php endforeach; ?>

    </div>
</div>


<script type="text/x-magento-init">
    {
        "footer.page-footer": {
            "footerAccordion": {}
        }
    }
</script>
