<?php
/**
 * @Author: Vasilis Neris
 */

?>


<!-- props to https://codepen.io/mohaiman/pen/MQqMyo for the background -->

<div class="context text-center">
    <h1>404.</h1>
    <h2><?= __('The page you were looking for does not exist')  ?></h2>
    <a href="/"><?= __('Return Home')  ?></a>
</div>


<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

