<?php
/**
 * Quantity control template
 *
 * @copyright Copyright © 2020 Kostas Tsiapalis. All rights reserved.
 * @author    k.tsiapalis86@gmail.com
 *
 * @var $block \Netsteps\Base\Block\Theme\Quantity
 */
$jsonConfig = $block->getJsonConfig()
?>
<script type="text/javascript">
    window.quantities = <?=  $jsonConfig ?>;
</script>
<script type="text/x-magento-init">
    {
        "<?= $block->getSelectorString() ?>": {
            "nsQuantity": <?= $jsonConfig ?>
        }
    }
</script>
