@import "components/_variables";
@import "components/_mixins";

//TODO. MOVE VARIABLES SEPERATLY

$backgroundColor: transparent;

//Link variables
$linkPadding: 5px 18px 5px 16px;
$linkMargin: 0 auto;
$linkBorderWidth: 2px;
$linkColor: color(text,primary);
$linkFontWeight: 400;
$linkFontSize: 1.4rem;

$activeBorderColor: #000;
$activeColor: #000;
$activeFontSize: 1.4rem;
$activeFontWeight: bold;

body {
  .page-wrapper {
    .sidebar {
      #block-collapsible-nav {
        background: $backgroundColor;
        .nav.items {
          .item {
            > strong, > a {
              padding: $linkPadding;
              margin: $linkMargin;
              border-width: $linkBorderWidth;
              color: $linkColor;
              font-weight: $linkFontWeight;
              font-size: $linkFontSize;
              transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
            }
            > a:hover {
              color: #FFFFFF;
              background: $activeColor;
            }
            &.current {
              > strong {
                border-color: $activeBorderColor;
                color: $activeColor;
                font-size: $activeFontSize;
                font-weight: $activeFontWeight;
              }
            }
          }
        }
      }
    }
  }
}