@import "components/_variables";
@import "components/_mixins";


.cart-wrapper{

  //Table cart
  .form-cart {
    #shopping-cart-table {
      .col{
        width: initial;
        flex-basis: initial;
        flex-grow: initial;
        max-width: initial;
        min-height: initial;
        position: initial;
      }
      th {
        width: 1%;
        display: table-cell;
        text-align: center;
        text-transform: uppercase;
        font-size: $cart__theaders__size--xl;
        font-weight: bold;
        line-height: 14px;
        color: $cart__theaders__color;
        border-color: #363636;
        padding: $cart__theaders__padding;
        &.item {
          text-align: left;
        }
        &.actions {
          span {
            display: none;
          }
        }
      }
      tbody {
        tr {
          td.col {
            vertical-align: middle;
            text-align: center;
            padding-bottom: 0;
            .cart-price {
              font-weight: bold;
              color: $text__color;
              font-size: 1.4rem;
            }
            &.item {
              text-align: left;
              .product-item-details {
                font-size: 1.2rem;
                text-align: left;
              }
              .product-item-name {
                font-size: 1.3rem;
                font-weight: normal;
                line-height: 16px;
                a {
                  color: $text__color;
                  text-decoration: none;
                  &:hover {
                    //Implement per preferences
                  }
                }
              }
              .item-options {
                dt {
                  margin-right: 5px;
                }
              }
            }
            &.qty {
              input {
                margin: 0;
              }
            }
          }
        }
      }
    }
    .actions-toolbar{
      padding-bottom: 35px;
      margin-right: 2.5rem;
    }
    .cart.item:nth-child(even){
      background-color:color(white,light);
    }
  }
  .cart-discount{
    margin-top: 3rem;
    .title{
      &:after{
        color: color(black,base);
        font-size: 1.6rem;
      }
      strong{
        color: color(black,base);
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }

  //Cart summary
  #block-shipping {
    /**
     * Comment this attribute to show estimation totals in cart page
     * also comment the configuration in checkout_cart_index.xml
     */
    display: none;
  }

}


@media screen and (max-width: $screen-md-max){
  .cart-container {
    .form-cart {
      .actions.main{
        @include flex();
        flex-wrap: wrap;
        > a, > button{
          width: 100%;
        }
        button{
          &.action.clear{
            margin-bottom: 1.5rem;
          }
        }
      }
    }
  }

}



@media screen and (max-width: $screen-sm-max){

  #maincontent {
    padding-top: 2rem;
  }
  //Cart title
  .page-title-wrapper {
    margin-bottom: 26px;
    .page-title {
      position: relative;
      text-align: center;
      font-size: 1.6rem;
      span {
        position: relative;
        display: inline-block;
        padding: 0 15px;
        background: #FFFFFF;
      }
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: $text__color;
        position: absolute;
        left: 0;
        top: 50%;
      }
    }
  }
  //Table cart
  .cart.table-wrapper {
    thead {
      display: none;
    }
    .item-info {
      position: relative;
      @include flex(top, space-around);
      @include flex-wrap(wrap);
      .col.price, .col.subtotal, .col.qty, .col.msrp {
        width: auto;
      }
      .col.item {
        padding-left: 0;
        width: 100%;
        @include flex(center, left);
      }
      .col.actions {
        position: absolute;
        top: 10px;
        right: 10px;
        .action {
          margin-right: 12px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .product-item-photo {
        position: static;
        max-width: 32%;
      }
    }
  }
  //Cart summary
  .cart-summary {
    padding: 0;
  }


}

