@import "components/_variables";
@import "components/_mixins";

// TODO. NEEDS CLEAN UP

div#checkout{
  margin: 5rem 0;
}


body {
  font-family: $pageFontFamily;
  .page-wrapper {
    background: $pageBackground;
    //Header
    header.page-header {
      border-bottom: $headerBorderBottom;
      box-shadow: $headerBoxShadow;
      > .header.content {
        padding: $headerPadding;
        transition: $headerTransition;
        .logo {
          display: $logoDisplay;
          text-align: $logoTextAlign;
          margin: $logoMargin;
          float: $logoFloat;
          img {
            display: $logoImageDisplay
          }
        }
      }
      &.sticky.scrolled {
        > .header.content {
          padding: $headerPaddingScrolled;
        }
      }
    }
    //Main Content
    #maincontent {
      max-width: $pageMaxWidth;
      padding: $pagePadding;
      //Authentication
      .authentication-wrapper {
        width:$authWidth;
        max-width:$authMaxWidth;
        margin:$authMargin;
        float:$authFloat;
        .action-auth-toggle {
          width: $authButtonWidth;
          padding: $authButtonPadding;
          line-height: $authButtonLineHeight;
          text-decoration: $authButtonTextDecoration;
        }
      }
      //Progress Bar
      .opc-progress-bar {
        display: block;
        .opc-progress-bar-item {
          width: 100%;
          display: inline-block;
          text-transform: $progressItemTextTransform;
          text-align: center;
          &:before, span:before, span:after {
            display: none;
          }
          > span {
            background: transparent;
            padding: $progressItemPadding;
            line-height:  $progressItemHeight;
            color: $progressItemColor;
            font-weight: $progressItemFontWeight;
            display: inline-block;
            font-size: $progressItemFontSize;
          }
          @media all and (min-width: $screen-sm-min){
            width: calc(50% - 10px);
            -webkit-box-shadow: $progressItemBoxShadow;
            -moz-box-shadow: $progressItemBoxShadow;
            box-shadow: $progressItemBoxShadow;
            background: $progressItemBackground;
            &:first-child {
              margin-right: $progressItemMarginRight;
            }
            &._active {
              background: $progressItemActiveBackground;
              -moz-box-shadow: $progressItemActiveBoxShadow;
              box-shadow: $progressItemActiveBoxShadow;
              background: $progressItemActiveBoxShadow;
              > span {
                color: $progressItemActiveColor;
              }
            }
          }
          @media all and (max-width: $screen-sm-max) {
            display: none;
            position: relative;
            > span {
              position: relative;
              background: #FFFFFF;
              z-index: 1;
              padding: 0 10px;
              line-height: 1;
            }
            &:before {
              content: '';
              display: block;
              position: absolute;
              width: 100%;
              height: 2px;
              left: 0;
              top: 50%;
              background: #DDDDDD;
              transform: translateY(-50%);
            }
            &._active {
              display: block;
            }
          }
        }
      }
      //Steps
      .opc-wrapper {
        .step-title {
          font-size: $stepTitleMobileFontSize;
          font-weight: $stepTitleMobileFontWeight;
          margin: $stepTitleMobileMargin;
          padding: $stepTitleMobilePadding;
          border-bottom: $stepTitleMobileBorderBottom;
          color: $stepTitleMobileColor;
          text-align: $stepTitleMobileTextAlign;
          text-transform: $stepTitleMobileTextTransform;
        }
        .field {
          > .label {
            color: $fieldLabelColor;
            font-size: $fieldLabelFontSize;
            font-weight: $fieldLabelFontWeight;
            margin: $fieldLabelMargin;
            padding: $fieldLabelPadding;
            text-align: $fieldLabelTextAlign;
            text-transform: $fieldLabelTextTransform;
          }
          input.input-text, select {
            height: $fieldInputHeight;
            border: $fieldInputBorder;
            color: $fieldInputColor;
            font-size: $fieldInputFontSize;
            font-weight: $fieldInputFontWeight;
            margin: $fieldInputMargin;
            padding: $fieldInputPadding;
            text-align: $fieldInputTextAlign;
            text-transform: $fieldInputTextTransform;
            background: $fieldInputBackground;
          }
          &.street {
            .additional{
              display: none;
            }
          }
        }
        #checkout-shipping-method-load, .form-shipping-address {
          border-bottom: $pageFormBorderBottom;
        }
        .form.methods-shipping {
          .actions-toolbar {
            margin-top: $rateToolbarMarginTop;
          }
        }
        //Shipping Rates Table
        .table-checkout-shipping-method {
          tr {
            td {
              padding-top: $ratePadding;
              padding-bottom: $ratePadding;
              border-top: $rateBorderTop;
              text-align: center;
            }
            &:first-child {
              td {
                border-top: 0;
              }
            }
          }
        }
        //Form Login
        .form-login {
          padding: $formLoginPadding;
          margin: $formLoginMargin;
          border-bottom: $formLoginBorderBottom;
          .note {
            font-size: $loginNoteFontSize;
            font-weight: $loginNoteFontWeight;
            font-style: $loginNoteFontStyle;
            color: $loginNoteColor;
            padding: $loginNotePadding;
          }
        }
        .form-login, .form-shipping-address, .methods-shipping {
          background: transparent;
        }
        //Payment Section
        .checkout-payment-method {
          .payment-method-content {
            > .actions-toolbar {
              > .primary {
                .action.primary {
                  padding: $placeOrderPadding;
                  margin: $placeOrderMargin;
                  font-size: $placeOrderFontSize;
                  font-weight: $placeOrderFontWeight;
                  line-height: $placeOrderLineHeight;
                  text-transform: $placeOrderTextTransform;
                  min-width: $placeOrderMinWidth;
                }
              }
            }
          }
        }
        @media all and (min-width: $screen-sm-min){
          .step-title {
            font-size: $stepTitleFontSize;
            font-weight: $stepTitleFontWeight;
            margin: $stepTitleMargin;
            padding: $stepTitlePadding;
            border-bottom: $stepTitleBorderBottom;
            color: $stepTitleColor;
            text-align: $stepTitleTextAlign;
            text-transform: $stepTitleTextTransform;
          }
          .form-shipping-address {
            max-width: 100%;
            .fieldset.address {
              .field {
                float: left;
                width: calc(50% - 25px);
                &[name$="firstname"], &[name$="region"],
                &[name$="region_id"], &[name$="country_id"],
                &.street {
                  margin-right: 2%;
                  margin-right: -o-calc(50px);
                  margin-right: -moz-calc(50px);
                  margin-right: -webkit-calc(50px);
                  margin-right: calc(50px);
                  clear: left;
                }
                &.street{
                  .field {
                    width: 100%;
                  }
                }
              }
              &:after {
                @include clear-both;
              }
            }
          }
          #shipping, #payment {
            padding-top: 46px;
          }
        }
      }
    }
    //Generic CSS
    input[type="radio"] {
      -webkit-appearance: none;
      display: inline-block;
      width: $radioWidth;
      height: $radioHeight;
      -webkit-border-radius: $radioBorderRadius;
      -moz-border-radius: $radioBorderRadius;
      border-radius: $radioBorderRadius;
      border: $radioBorder;
      background: $radioBackground;
      text-align: $radioTextAlign;
      margin: $radioMargin;
      padding: $radioPadding;
      cursor: pointer;
      position: initial;
      opacity: 1;
      &:after {
        display: inline-block;
        visibility: hidden;
        opacity: 0;
        content: '';
        width: $radioCheckedWidth;
        height: $radioCheckedHeight;
        background: #000;
        -webkit-border-radius: $radioCheckedBorderRadius;
        -moz-border-radius: $radioCheckedBorderRadius;
        border-radius: $radioCheckedBorderRadius;
      }
      &:checked:after {
        visibility: visible;
        opacity: 1;
      }
    }
    button.action, .methods-shipping .actions-toolbar button.action.primary {
      width: $buttonWidth;
      padding: $buttonPadding;
      margin: $buttonMargin;
      line-height: $buttonLineHeight;
      font-size: $buttonFontSize;
      font-weight: $buttonFontWeight;
      text-transform: $buttonTextTransform;
      min-width: $buttonMinWidth;
      max-width: $buttonMaxWidth;
      @media all and (min-width: $screen-sm-min){
        width: auto;
      }
    }
  }
}




//ESTIMATION





body {
  .opc-estimated-wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    padding: $estimatedPadding;
    .estimated-block {
      font-size: $estimatedFontSize;
      color: $estimatedColor;
      .estimated-label, .estimated-price {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px 0 0;
      }
      .estimated-price {
        margin: 0;
        font-size: $estimatedPriceFontSize;
        color: $estimatedPriceColor;
        font-weight: $estimatedPriceFontWeight;
      }
    }
    .minicart-wrapper {
      margin: 0;
      .action.showcart {
        min-width: initial;
        .counter.qty {
          vertical-align: middle;
          background: $counterBackground;
          color: $counterColor;
          height: $counterHeight;
          width: $counterWidth;
          line-height: $counterLineHeight;
          -webkit-border-radius:$counterBorderRadius;
          -moz-border-radius:$counterBorderRadius;
          border-radius:$counterBorderRadius;
          margin: $counterMargin;
          min-width: $counterMinWidth;
          padding: $counterPadding;
          font-size: $counterFontSize;
          .counter-number {
            text-shadow: none;
            &:before{
              content: '(';
            }
            &:after{
              content: ')';
            }
          }
        }
        &:before {
          content: '\f07a';
          font-weight: 900;
          color: color(text,primary);
          font-family: $fontAwesome;
          vertical-align: middle;
          line-height: 1;
          font-size: 2rem;
        }
      }
    }
  }

  @media all and (max-width: $screen-sm-max) {
    .opc-estimated-wrapper {
      background: $estimatedBackground;
      margin: 0;
      z-index: 1;
      left: 0;
      bottom: 0;
    }
    &.step-shipping {
      .opc-estimated-wrapper {
        bottom: $buttonLineHeight;
      }
      #shipping-method-buttons-container {
        button.action.continue.primary {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
        }
      }
    }
    &.step-payment.active-payment {
      .opc-estimated-wrapper {
        bottom: $placeOrderLineHeight;
      }
      .payment-method-content {
        > .actions-toolbar {
          > .primary {
            .action.primary {
              position: fixed;
              z-index: 1;
              bottom: 0;
              width: 100%;
              left: 0;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}



// SUMMARY


body {
  .page-wrapper {
    #opc-sidebar {
      .opc-block-summary {
        padding: $summaryPadding;
        background: $summaryBackground;
        //Title
        > .title {
          text-align: $summaryTitleTextAling;
          font-size: $summaryTitleFontSize;
          text-transform: $summaryTitleTextTransform;
          font-weight: $summaryTitleFontWeight;
          color: $summaryTitleColor;
          border-bottom: $summaryTitleBorderBottom;
          padding: $summaryTitlePadding;
          margin-bottom: $summaryTitleMarginBottom;
        }
        //Totals
        .table-totals {
          border: $totalsBorder;
          max-width: -o-calc(100% - 20px);
          max-width: -moz-calc(100% - 20px);
          max-width: -webkit-calc(100% - 20px);
          max-width: calc(100% - 20px);
          margin: $totalsMargin;
          th.mark {
            padding-left: $totalSidePadding;
          }
          td.amount {
            padding-right: $totalSidePadding;
          }
          th.mark, td.amount {
            padding-bottom: 6px;
            border-top: $totalBorderTop;
            border-bottom: $totalBorderBottom;
            font-size: $totalItemFontSize;
            font-weight: $totalItemFontWeight;
            color: $totalItemColor;
            text-transform: $totalItemTextTransform;
          }
          .discount-code {
            text-align: center;
            .payment-option-content {
              border: 0;
              padding-top: 26px;
              .form-discount {
                max-width: 308px;
                margin: 0 auto;
                .label {
                  padding: 0;
                  margin-bottom: 11px;
                  font-size: 1.2rem;
                  color: color(text,primary);
                  font-weight: 700;
                  display: inline-block;
                  line-height: 1;
                }
                input {
                  height: 40px;
                  border:1px solid #CCCCCC;
                  background: #FFFFFF;
                }
                button {
                  border: 1px solid color(text,primary);
                  padding: 0;
                  background: transparent;
                  line-height: 48px;
                  font-size: 1.2rem;
                  font-weight: 700;
                  color: color(text,primary);
                  margin-top: 10px;
                  border-radius: 0px;
                  margin-right: 0;
                  width: 100%;
                }
                .actions-toolbar .primary {
                  width: 100%;
                }
              }
            }
          }
          .grand.totals {
            th.mark, td.amount {
              border: $grandBorder;
              padding-bottom: $grandPaddingBottom;
              padding-top: $grandPaddingTop;
            }
            th.mark {
              font-size: $grandMarkFontSize;
              line-height: $grandMarkLineHeight;
            }
            td.amount{
              font-size: $grandValueFontSize;
              line-height: $grandValueLineHeight;
            }
          }
        }
        //Cart items
        .items-in-cart {
          background: $cartBackground;
          margin: $cartMargin;
          padding: $cartPadding;
          > .title {
            border-bottom: $cartTitleBorderBottom;
            padding: $cartTitlePadding;
            text-transform: $cartTitleTextTransform;
            line-height: $cartTitleLineHeight;
            cursor: initial;
            strong {
              color: $cartTitleColor;
              font-size: $cartTitleFontSize;
              font-weight: $cartTitleFontWeight;
            }
            &:after {
              display: none;
            }
          }
          .minicart-items {
            .product-item {
              .product {
                .product-item-details {
                  padding-left: $itemDetailsPaddingLeft;
                  .product-item-inner {
                    display: block;
                    margin: 0;
                    position: relative;
                    .product-item-name-block {
                      display: block;
                      .product-brand {
                        font-size: $itemBrandFontSize;
                        text-transform: $itemBrandTextTransform;
                        color: $itemBrandColor;
                        font-weight: $itemBrandFontWeight;
                        margin-bottom: $itemBrandMarginBottom;
                        line-height: $itemBrandLineHeight;
                      }
                      .product-item-name {
                        color: $itemNameColor;
                        font-size: $itemNameFontSize;
                        line-height: $itemNameLineHeight;
                        margin-bottom: $itemNameMarginBottom;
                        font-weight: $itemNameFontWeight;
                        font-style: $itemNameFontStyle;
                        text-transform: $itemNameTextTransform;
                      }
                      .ns-extra-infos {
                        .info-list {
                          list-style-type: none;
                          padding: 0;
                          margin: 0;
                          li {
                            margin-bottom: 4px;
                            line-height: 1;
                            .label, .value {
                              font-size: 1.2rem;
                              color: color(text,primary);
                              line-height: 14px;
                            }
                            .label {
                              font-weight: 700;
                              &:after {
                                content: ':'
                              }
                            }
                            &.short_name_chars {
                              margin-bottom: 10px;
                              .value {
                                font-size: 1.1rem;
                                color: color(text,primary);
                                font-weight: 700;
                                font-style: italic;
                                line-height: 12px;
                              }
                            }
                            &:first-child:not(.short_name_chars) {
                              margin-top: 10px;
                            }
                          }
                        }
                      }

                    }
                    .subtotal {
                      position: absolute;
                      right: 0;
                      bottom: 0;
                      .price-excluding-tax, .price-including-tax {
                        margin: 0;
                        .price {
                          font-size: $itemSubtotalFontSize;
                          color: $itemSubtotalColor;
                          font-weight: $itemSubtotalFontWeight;
                        }
                      }
                    }
                  }
                  .product.options, .details-qty {
                    display: none;
                  }
                }
              }
            }
          }
        }
        //Shipping Information
        .shipping-information {
          margin: 0 -10px;
          background: #FFF;
          padding: 40px 10px 8px;
          .shipping-information-title {
            color: color(text,primary);
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 18px;
            margin-bottom: 14px;
            .action-edit {
              float: right;
              font-size: 1.1rem;
              color: color(text,primary);
              text-transform: uppercase;
              border:0;
              text-decoration: underline;
              font-weight: 700;
              background: transparent;
              border-radius: 0px;
              padding: 0;
            }
          }
          .shipping-information-content {
            color: color(text,primary);
            font-size: 1.4rem;
            line-height: 20px;
          }
          .ship-to {
            margin-bottom: 26px;
          }
        }
        //Order Attributes from Amasty
        > .ship-via{
          display: none;
        }
      }
    }
  }
}
