@import "components/_variables";
@import "components/_mixins";

  .page-wrapper {

    .page-title-wrapper {
      display:flex;
      text-align: $titleTextAlign;
      .page-title {
        width: $titleWidth;
        color: $titleColor;
        font-size: $titleFontSize;
        font-weight: $titleFontWeight;
        padding: $titlePadding;
        margin: $titleMargin;
        border-bottom: $titleBorderBottom;
      }
    }

    .form.contact {
      max-width: $formMaxWidth;
      margin: $formMargin;
      padding: $formPadding;
      box-shadow: $formBoxShadow;
      .fieldset {
        > .legend {
          display: none;
        }
        .note{
          width: $noteWidth;
          color: $noteColor;
          font-size: $noteFontSize;
          font-weight: $noteFontWeight;
          padding: $notePadding;
          margin: $noteMargin;
          border-bottom: $noteBorderBottom;
          text-align: $noteTextAlign;
        }

        .field {
          input, textarea, select {
            font-size:$fieldFontSize;
            font-weight: $fieldFontWeight;
            color: $fieldColor;
            background: $fieldBackground;
            font-family: $fieldFontFamily;
            font-style: $fieldFontStyle;
            border: $fieldBorder;
            &:focus{
              box-shadow: $fieldBoxShadow;
            }
            @include placeholder {
              font-size: $fieldFontSize;
              font-weight: $fieldFontWeight;
              color: $fieldColor;
              font-family: $fieldFontFamily;
              font-style: $fieldFontStyle;
            }
          }
          input[type="text"], input[type="email"],
          input[type="password"], select {
            height: $fieldHeight;
          }
        }
      }
    }
  }
  body{
    &.no-label{
      .fieldset > .field > .label {
        display: none;
      }
    }
  }

