@import "components/_variables";
@import "components/_mixins";

.customer-account-login{
    .page-title-wrapper{
        margin-bottom: 2rem;
        text-align: center;
    }
}


#customer-action-forms {
    @include flex(stretch,space-between);
    flex-wrap: wrap;
    > section{
        flex: 1;
        padding: 2rem;
        > div{
            height: 100%;
            padding: 3rem;
            .block{
                float:none;
                max-width: $account__form__maxwidth;
                width: 100%;
                margin:0 auto;
            }
        }
    }
    .block-title{
        text-align: center;
        margin: 2rem 0;
        border-bottom:1px solid color(gray,lighter);
        padding: 0;
        strong{
            font-size: $account__title__size--xl;
            font-weight: $account__title__weight;
            padding-bottom:2rem;
            display: inline-block;
        }
    }
    .subtitle{
        text-align: center;
        display: block;
        font-weight: 600;
        color: color(black,base);
    }
    .note{
        text-align: center;
        font-size: 1.3rem;
        margin-bottom: 3rem;
    }
    .control{
        width: 100%;
    }
    .form{
        min-width: initial;
        width: 100%;
        .fieldset{
            margin-bottom:2rem;
        }
    }
    .actions-toolbar{
        @include flex(initial,initial,column);
    }
    a.action.remind{
        margin-top:1.5rem;
    }

}
@media screen and (max-width: $screen__xl - 240 ){
    #customer-action-forms{
        > section{
            > div{
                .block{
                    max-width: 400px;
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: $screen__l - 33){
    #customer-action-forms{
        > section{
            flex:initial;
            width: 100%;
        }
    }

}
