@import "components/_variables";
@import "components/_mixins";

#promo-bar {
    text-align: center;
    position: relative;
    display: none;
    &.initialized{
        display: block;
        padding: .8rem;
        .content,.close{
            opacity: 1;
        }
    }

    .content {
        opacity: 0;
    }

    .close {
        position: absolute;
        right: 15px;
        padding: .9rem;
        top: 0;
        cursor: pointer;
        opacity: 0;

        &:before, &:after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 15px;
            width: 2px;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }

    .slick-slide {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
