@import "components/_variables";
@import "components/_mixins";

body {
  .page-wrapper {

    //Title
    .page-title-wrapper {
      margin-bottom: 30px;
      .page-title {
        margin: 0;
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 21px;
        color: color(text,primary);
        text-transform: uppercase;
      }
    }

    //Wishlist items
    .product-items {
      .product-item {
        .product-item-info {
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          border: 0;
          margin: 0;
          padding: 10px;
          .options-wrapper {
            margin-bottom: 8px;
          }
          .price-box  {
            margin-bottom: 6px;
            p {
              margin: 0;
            }
            .price {
              font-size: 1.6rem;
              color: color(text,primary);
            }
          }
          .options-table {
            .col {
              width: 1%;
              padding: 2px 0;
              font-size: 1.3rem;
              color: color(text,primary);
              &.label {
                font-weight: 700;
              }
            }
          }
          .product-item-inner {
            display: block;
            overflow: visible;
            position: static;
            border: 0;
            padding: 0;
            margin: 0;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            width: 100%;
            height: auto;
            .box-tocart {
              float: none;
              margin-right: 0;
            }
            .field.qty {
              display: block;
              margin-bottom: 10px;
              padding: 0;
              .label {
                display: none;
              }
              .qty-wrapper {
                width: 100%;
                input {
                  border: 0;
                  flex:1;
                }
              }
            }
          }
          .product-item-actions {
            display: block;
            width: 100%;
            .actions-primary {
              display: block;
              width: 100%;
              .action.tocart {
                margin: 0;
                line-height: 36px;
                padding: 0 10px;
                width: -o-calc(100% - 92px);
                width: -moz-calc(100% - 92px);
                width: -webkit-calc(100% - 92px);
                width: calc(100% - 92px);
                font-size: 1.3rem;
              }
              a.action {
                display: inline-block;
                vertical-align: middle;
                line-height: 36px;
                width: 42px;
                background: #DDDDDD;
                text-align: center;
                text-decoration: none;
                color: color(text,primary);
                margin: 0;
                float: none;
                span {
                  display: none;
                }
                &:before {
                  font-family: 'luma-icons';
                }
                &.edit:before {
                  content: "\e601";
                }
                &.delete:before {
                  content: '\e604';
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-md-max){
  body {
    .page-wrapper {
      //Title
      .page-title-wrapper {
        margin-bottom: 26px;
        .page-title {
          position: relative;
          text-align: center;
          font-size: 1.6rem;
          display: block;
          margin-right: 0 !important;
          span {
            position: relative;
            display: inline-block;
            padding: 0 15px;
            background: #FFFFFF;
          }
          &:before {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: color(text,primary);
            position: absolute;
            left: 0;
            top: 50%;
          }
        }
      }

      .product-items {
        .product-item {
          .product-item-info {
            .options-wrapper {
              float: right;
              width: calc(100% - 100px);
            }
            .product-item-inner {
              clear: both;
            }
          }
        }
      }
    }
  }
}