<?php
/**
 * @copyright Copyright © 2020 Kostas Tsiapalis. All rights reserved.
 * @author    k.tsiapalis86@gmail.com
 */

// @codingStandardsIgnoreFile

/* @var \Magento\Wishlist\Block\Customer\Wishlist\Item\Options $block */
/** @var \Magento\Framework\Escaper $escaper */

?>

<?php $options = $block->getOptionList(); ?>
<?php if ($options): ?>
    <div class="options-wrapper">
        <table class="options-table">
            <tbody>
            <?php foreach ($options as $option): ?>
                <tr class="row">
                    <td class="col label"><?= $escaper->escapeHtml($option['label']) ?></td>
                    <td class="col value">
                        <?php if (is_array($option['value'])): ?>
                            <?= /* @noEscape */ nl2br(implode("\n", $option['value'])) ?>
                        <?php else: ?>
                            <?= /* @noEscape */ $option['value'] ?>
                        <?php endif; ?>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php endif ?>
