<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Widget\Name $block */
/** @var \Magento\Framework\Escaper $escaper */



$prefix = $block->showPrefix();
$middle = $block->showMiddlename();
$suffix = $block->showSuffix();
?>
<?php if (($prefix || $middle || $suffix) && !$block->getNoWrap()): ?>
<div class="field required fullname <?= $escaper->escapeHtmlAttr($block->getContainerClassName()) ?>">
    <label for="<?= $escaper->escapeHtmlAttr($block->getFieldId('firstname')) ?>" class="label">
        <span><?= $escaper->escapeHtml(__('Name')) ?></span>
    </label>
    <div class="control">
        <fieldset class="fieldset fieldset-fullname">
            <div class="fields">
                <?php endif; ?>

                <?php if ($prefix): ?>
                    <div class="field field-name-prefix<?php if ($block->isPrefixRequired()) echo ' required' ?>">
                        <label class="label" for="<?= $escaper->escapeHtmlAttr($block->getFieldId('prefix')) ?>">
                            <span><?= $escaper->escapeHtml($block->getStoreLabel('prefix')) ?></span>
                        </label>

                        <div class="control">
                            <?php if ($block->getPrefixOptions() === false): ?>
                                <input type="text" id="<?= $escaper->escapeHtmlAttr($block->getFieldId('prefix')) ?>"
                                       name="<?= $escaper->escapeHtmlAttr($block->getFieldName('prefix')) ?>"
                                       value="<?= $escaper->escapeHtmlAttr($block->getObject()->getPrefix()) ?>"
                                       title="<?= $escaper->escapeHtmlAttr($block->getStoreLabel('prefix')) ?>"
                                       placeholder="<?= $escaper->escapeHtmlAttr($block->getStoreLabel('prefix')) ?>"
                                       class="input-text <?= $escaper->escapeHtmlAttr($block->getAttributeValidationClass('prefix')) ?>" <?php if ($block->isPrefixRequired()) echo ' data-validate="{required:true}"' ?>>
                            <?php else: ?>
                                <select id="<?= $escaper->escapeHtmlAttr($block->getFieldId('prefix')) ?>"
                                        name="<?= $escaper->escapeHtmlAttr($block->getFieldName('prefix')) ?>"
                                        title="<?= $escaper->escapeHtmlAttr($block->getStoreLabel('prefix')) ?>"
                                        class="<?= $escaper->escapeHtmlAttr($block->getAttributeValidationClass('prefix')) ?>" <?php if ($block->isPrefixRequired()) echo ' data-validate="{required:true}"' ?> >
                                    <?php foreach ($block->getPrefixOptions() as $_option): ?>
                                        <option value="<?= $escaper->escapeHtmlAttr($_option) ?>"<?php if ($block->getObject()->getPrefix() == $_option): ?> selected="selected"<?php endif; ?>>
                                            <?= $escaper->escapeHtml(__($_option)) ?>
                                        </option>
                                    <?php endforeach; ?>
                                </select>
                            <?php endif; ?>
                        </div>
                    </div>
                <?php endif; ?>
                <div class="field field-name-firstname required">
                    <label class="label" for="<?= $escaper->escapeHtmlAttr($block->getFieldId('firstname')) ?>">
                        <span><?= $escaper->escapeHtml($block->getStoreLabel('firstname')) ?></span>
                    </label>

                    <div class="control">
                        <input type="text" id="<?= $escaper->escapeHtmlAttr($block->getFieldId('firstname')) ?>"
                               name="<?= $escaper->escapeHtmlAttr($block->getFieldName('firstname')) ?>"
                               value="<?= $escaper->escapeHtmlAttr($block->getObject()->getFirstname()) ?>"
                               title="<?= $escaper->escapeHtmlAttr($block->getStoreLabel('firstname')) ?>"
                               placeholder="<?= $escaper->escapeHtmlAttr($block->getStoreLabel('firstname')) ?>"
                               class="input-text <?= $escaper->escapeHtmlAttr($block->getAttributeValidationClass('firstname')) ?>" <?php if ($block->getAttributeValidationClass('firstname') == 'required-entry') echo ' data-validate="{required:true}"' ?>>
                    </div>
                </div>
                <?php if ($middle): ?>
                    <?php $isMiddlenameRequired = $block->isMiddlenameRequired(); ?>
                    <div class="field field-name-middlename<?= $isMiddlenameRequired ? ' required' : '' ?>">
                        <label class="label" for="<?= $escaper->escapeHtmlAttr($block->getFieldId('middlename')) ?>">
                            <span><?= $escaper->escapeHtml($block->getStoreLabel('middlename')) ?></span>
                        </label>

                        <div class="control">
                            <input type="text" id="<?= $escaper->escapeHtmlAttr($block->getFieldId('middlename')) ?>"
                                   name="<?= $escaper->escapeHtmlAttr($block->getFieldName('middlename')) ?>"
                                   value="<?= $escaper->escapeHtmlAttr($block->getObject()->getMiddlename()) ?>"
                                   title="<?= $escaper->escapeHtmlAttr($block->getStoreLabel('middlename')) ?>"
                                   placeholder="<?= $escaper->escapeHtmlAttr($block->getStoreLabel('middlename')) ?>"
                                   class="input-text <?= $escaper->escapeHtmlAttr($block->getAttributeValidationClass('middlename')) ?>" <?= $isMiddlenameRequired ? ' data-validate="{required:true}"' : '' ?>>
                        </div>
                    </div>
                <?php endif; ?>
                <div class="field field-name-lastname required">
                    <label class="label" for="<?= $escaper->escapeHtmlAttr($block->getFieldId('lastname')) ?>">
                        <span><?= $escaper->escapeHtml($block->getStoreLabel('lastname')) ?></span>
                    </label>

                    <div class="control">
                        <input type="text" id="<?= $escaper->escapeHtmlAttr($block->getFieldId('lastname')) ?>"
                               name="<?= $escaper->escapeHtmlAttr($block->getFieldName('lastname')) ?>"
                               value="<?= $escaper->escapeHtmlAttr($block->getObject()->getLastname()) ?>"
                               title="<?= $escaper->escapeHtmlAttr($block->getStoreLabel('lastname')) ?>"
                               placeholder="<?= $escaper->escapeHtmlAttr($block->getStoreLabel('lastname')) ?>"
                               class="input-text <?= $escaper->escapeHtmlAttr($block->getAttributeValidationClass('lastname')) ?>" <?php if ($block->getAttributeValidationClass('lastname') == 'required-entry') echo ' data-validate="{required:true}"' ?>>
                    </div>
                </div>
                <?php if ($suffix): ?>
                    <div class="field field-name-suffix<?php if ($block->isSuffixRequired()) echo ' required' ?>">
                        <label class="label" for="<?= $escaper->escapeHtmlAttr($block->getFieldId('suffix')) ?>">
                            <span><?= $escaper->escapeHtml($block->getStoreLabel('suffix')) ?></span>
                        </label>

                        <div class="control">
                            <?php if ($block->getSuffixOptions() === false): ?>
                                <input type="text" id="<?= $escaper->escapeHtmlAttr($block->getFieldId('suffix')) ?>"
                                       name="<?= $escaper->escapeHtmlAttr($block->getFieldName('suffix')) ?>"
                                       value="<?= $escaper->escapeHtmlAttr($block->getObject()->getSuffix()) ?>"
                                       title="<?= $escaper->escapeHtmlAttr($block->getStoreLabel('suffix')) ?>"
                                       placeholder="<?= $escaper->escapeHtmlAttr($block->getStoreLabel('suffix')) ?>"
                                       class="input-text <?= $escaper->escapeHtmlAttr($block->getAttributeValidationClass('suffix')) ?>" <?php if ($block->isSuffixRequired()) echo ' data-validate="{required:true}"' ?>>
                            <?php else: ?>
                                <select id="<?= $escaper->escapeHtmlAttr($block->getFieldId('suffix')) ?>"
                                        name="<?= $escaper->escapeHtmlAttr($block->getFieldName('suffix')) ?>"
                                        title="<?= $escaper->escapeHtmlAttr($block->getStoreLabel('suffix')) ?>"
                                        class="<?= $escaper->escapeHtmlAttr($block->getAttributeValidationClass('suffix')) ?>" <?php if ($block->isSuffixRequired()) echo ' data-validate="{required:true}"' ?>>
                                    <?php foreach ($block->getSuffixOptions() as $_option): ?>
                                        <option value="<?= $escaper->escapeHtmlAttr($_option) ?>"<?php if ($block->getObject()->getSuffix() == $_option): ?> selected="selected"<?php endif; ?>>
                                            <?= $escaper->escapeHtml(__($_option)) ?>
                                        </option>
                                    <?php endforeach; ?>
                                </select>
                            <?php endif; ?>
                        </div>
                    </div>
                <?php endif; ?>

                <?php if (($prefix || $middle || $suffix) && !$block->getNoWrap()): ?>
            </div>
        </fieldset>
    </div>
</div>
<?php endif; ?>
